body h1,h2,h3,h4,h6,ul,li,.section {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    margin: 0 auto;
    max-width: 1366px;
    min-width: auto;
    height: 200px;
    background-image: url();
    background-color: darkslategray;
    background-repeat: no-repeat;
    
}

header h1 {
    color: #fff;
    margin: 10px;
    text-align: left;
    text-shadow: 2px 2px rgb(48, 48, 48);
    font-size: 50px;
}

header h2 {
    color: #fff;
    margin: 10px;
    text-align: left;
    text-shadow: 2px 2px rgb(48, 48, 48);
    font-size: 30px;
}

main {
   /*margin: 10px 50px 20px;*/
   margin: auto;
   width: 1366px;
   height: 300px;
   padding: 10px;
    
}

#fortune {
    width: 1376px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}

main h2 {
    color: #1f1f1a;
    font-size: 30px;
}

main h3 {
    color: #1f1f1a;
}

li {
    list-style-type: disc;
}


footer {
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    color: #fff;
    height: 30px;
    width: 1376px;
    border-style: none;
    background-color: darkslategray;
}