@charset "UTF-8";
/* CSS Document */
body, h1, h2, h3, h4, h5, h6, ul, li {margin:0; padding: 0;}
body {
	font-size: 16px;
	font-family: Helvetica;
}
header, nav, main, footer {
	max-width: 960px;
	margin: 0 auto;
}
header {
	background-image: url("/10-Hotel_Booking/images/header.jpg");
	height: 200px;
	
}
header h1 {
	color: #fff;
	padding: 1rem 0 0 2%;
	text-shadow: 2px 2px 5px #000;
	font-size: 3rem;
}
header h2 {
	color: #fff;
	padding: .5rem 0 0 2%;
	text-shadow: 2px 2px 5px #000;
	font-size: 2rem;
}

main h1 {
	color:#242526;
	padding: 1rem 0 0 2%;
}
main h2 {
	color: #242526;
	padding: .6rem 0 0 2%;
}
main p {padding: .2rem 0 0 2%; line-height: 150%;}

main ul {margin: 0;}

main ul.objectives li {
	list-style-image: url("/09-Menu_Duplication/images/check.png");
	margin-left: 3rem;

}

.hotels li {
    display: flex;
    align-items: center;
    border: #000;
    border-style: none;
    border-width: 1px;
    border-radius: 20px;
    width: 250px;
    height: 45px;
    margin: 10px;
    background-color: #b87956;
}

.hotels li a {
    display: block;
    width: fit-content;
    margin: auto;
    text-decoration: none;
    font-family: monospace;
    color: #fff;
}

main img.myPhoto {width: 75%;}

footer {
	background-color: #945228;
	clear: both; 
}
footer p {
	text-align: center;
	color: white;
	padding: .5rem 0;
}

.keepOpen{
	clear:both;
}